@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
.clearfix:after{display:block; height:0; clear:both; content:"."; visibility:hidden;}
ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,table,ol,label,fieldset,section,aside,header,footer,audio,video{display:block;}
ul{list-style:none;}
a{text-decoration:none;}
body{font-family:"微软雅黑"; background:#ffffff;}
img{border:0;}